.success,
.fail,
.refreshing {
    color: #dedede;
    font-size: 9px;
    padding: 2px 4px;
    border-radius: 3px;
}

.success {
    background-color: rgb(3, 191, 3);
}

.fail {
    background-color: rgb(255, 31, 31);
}

.refreshing {
    background-color: rgb(255, 255, 0);
    color: black;
}

.btn-refresh {
    background-color: transparent;
    background-image: url('data: image/svg+xml, %3Csvg%20fill%3D%22%23000000%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2230px%22%20height%3D%2230px%22%20viewBox%3D%220%200%201.95%201.95%22%20enable-background%3D%22new%200%200%2052%2052%22%20xml%3Aspace%3D%22preserve%22%3E%3Cpath%20d%3D%22M1.744%200.15h-0.112c-0.03%200%20-0.056%200.026%20-0.056%200.056v0.263c0%200.034%20-0.019%200.049%20-0.045%200.026%20-0.011%20-0.015%20-0.022%20-0.026%20-0.037%20-0.037%20-0.188%20-0.188%20-0.45%20-0.266%20-0.72%20-0.214%20-0.094%200.019%20-0.184%200.056%20-0.263%200.109%20-0.229%200.15%20-0.36%200.394%20-0.364%200.656%20-0.004%200.203%200.075%200.405%200.217%200.551%200.15%200.158%200.352%200.244%200.57%200.244%200.191%200%200.371%20-0.068%200.514%20-0.188%200.026%20-0.022%200.026%20-0.06%200.004%20-0.083l-0.079%20-0.079c-0.019%20-0.019%20-0.052%20-0.022%20-0.075%20-0.004%20-0.135%200.112%20-0.319%200.158%20-0.502%200.112%20-0.049%20-0.011%20-0.098%20-0.034%20-0.142%20-0.06C0.439%201.373%200.337%201.125%200.397%200.877c0.011%20-0.049%200.034%20-0.098%200.06%20-0.142C0.563%200.551%200.746%200.45%200.941%200.45c0.15%200%200.292%200.06%200.397%200.165%200.019%200.015%200.034%200.034%200.045%200.052%200.011%200.03%20-0.015%200.045%20-0.049%200.045h-0.263c-0.03%200%20-0.056%200.026%20-0.056%200.056v0.116c0%200.03%200.022%200.052%200.052%200.052h0.686c0.026%200%200.049%20-0.022%200.049%20-0.049V0.206C1.8%200.176%201.774%200.15%201.744%200.15%22%2F%3E%3C%2Fsvg%3E');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 16px 16px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    display: inline-block;
    height: 20px;
    margin: 2px 2px 2px 6px;
    padding: 0;
    transform: rotateZ(0deg);
    transition: .25s all linear;
    vertical-align: middle;
    width: 20px;
}

.btn-refresh:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.btn-refresh.active {
    transform: rotateZ(360deg);
}